:root{
    --energyBlack: #090909;
    --energyBlue: #10389F;
    --energyWhite: #FFFFFF;
    --btnColor: #2149ae;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s linear;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: url(./assets/images/templatef.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
}

/* button{
    width: 150px;
    height: 50px;
    cursor: pointer;
} */